@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 209, 247, 231; /* This should match the bg-[#d1f7e7] from index.tsx */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb)); /* Set a solid background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
